{% extends 'base.html' %}

{% block main %}
  <main role='main'>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ title }}</h1>
        <p>長野大学企業情報学部2018年度前川ゼミの「信州デジタルコモンズプロジェクト／オープンデータプロジェクト」では、<br>
          「地域の諸データのオープンデータ化」という課題を解決する為、このツールを開発しました。<br>
          Excelの統計データを直接、データベース化させるのは難しいが、CSVに変換するのはそれほど難しくありません。<br>
          ExcelファイルをCSVファイルに自動変換して、少しでもオープンデータ化においての「はじめてのハードル」を取り除きたいと思います。<br>
          精度・アルゴリズム等の問題点が未だ残っていますが、是非一度お試しください。
        </p>
        <p><a class="btn btn-primary btn-lg" href="/upload/" role="button">変換してみる</a></p>
      </div>
    </div>

    <div class="container">
          <div class="row">
            {% for p in post %}
            <div class="col-md-4">
              <h2>{{ p.title }}</h2>
              <p>{{ p.excerpt }}</p>
              <p><a class="btn btn-secondary" href={{ p.get_absolute_url }} role="button">詳細</a></p>
            </div>
            {% endfor %}
          </div>

      <hr>

    </div> <!-- /container -->

  </main>

{% endblock main %}
