[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = ">=3.2.4"
markdown = "*"
xlrd = "*"
gunicorn = "*"
urllib3 = ">=1.26.5"
django-recaptcha = "*"
django-s3-sqlite = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3"
