{% extends "base.html" %}

{% block main %}
<main role="main" class="flex-shrink-0">
    <div class="jumbotron">
        <div class="container">
            <h1 class="mt-5">ファイルリスト</h1>
        </div>
    </div>

    <div class="container">
        <p class="lead">
            {% if files %}
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>出力ファイル</td>
                <td>元ファイル</td>
                <td>出力ファイルサイズ</td>
                <td>元ファイルサイズ</td>
                <td>削除</td>
            </tr>
            {% for file, result, result_size in lst %}
            <tr>
                <td><a href="{{ result }}">{{ result }}</a></td>
                <td><a href="{{ file.file.url }}">{{ file.file.url }}</a></td>
                <td>{{ result_size | filesizeformat }}</td>
                <td>{{ file.file.size | filesizeformat }}</td>
                <td><a class="btn btn-outline-danger btn-sm" href="{% url 'file_upload:delete' file.id %}" role="button">削除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
        まだ何もアップロードしていません。<br>
        <a href="/upload/">こちら</a>をクリックして変換したいExcelファイルをアップロードしてください。
        {% endif %}
        </p>
    </div>

    <div class="container">
        <p class="lead"><a class="btn btn-secondary" href="/" role="button">戻る</a></p>
    </div>

    <hr>
</main>
{% endblock %}