{% extends 'base.html' %}

{% block main %}
<main role='main'>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ title }}</h1>
            <p>前川ゼミが参与している「信州デジタルコモンズプロジェクト／オープンデータプロジェクト」は、<br>
                「地域の諸データのオープンデータ化」という課題の解決を目指しています。<br>
                Excelの統計データを直接、データベース化するには難しいですが、CSVに変換したらそれほど難しくはありません。<br>
                このアプリを使ってExcelをCSVファイルに自動変換することで、<br>
                少しでもオープンデータ化においての「はじめてのハードル」を取り除きたいと思います。<br>
                精度・アルゴリズム等の問題点が未だ残っていますが、是非一度お試しください。
            </p>
            <p><a class="btn btn-primary btn-lg" href="/upload/" role="button">変換してみる</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row mx-auto">
            {% for p in post %}
            <div class="col-md-4">
                <h2>{{ p.title }}</h2>
                <p>{{ p.excerpt }}</p>
                <p><a class="btn btn-secondary" href={{ p.get_absolute_url }} role="button">詳細</a></p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container py-1">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- 前へ の部分 -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <!-- 数字の部分 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#!">{{ num }}</a>
                </li>
                    {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                    {% endif %}
                {% endfor %}

                <!-- 次へ の部分 -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="container">
        <hr>
    </div>
</main>

{% endblock main %}
